    .chat-container {
        margin: 0px;
		padding-bottom:5px;
		padding-top:5px;
        padding: px;
        background: white;
        border: 0.1em solid #919191;
        border-bottom: 0px;
        border-radius: 0px;
		width:100%;
    }

    .chat-message {
      padding: 6px;
      border-radius: 3px;
      margin-bottom: 3px;
    }

    .bot-message {
		border-top-left-radius:22px;
	    border-top-right-radius:22px;
	    border-bottom-left-radius:22px;
        background: #d3e4f0;
        color: black;
        float: right;
        margin-right: 24px;
		padding-top:10px;
	    padding-left:10px;
    }

    .human-message {
		border-top-left-radius:22px;
		border-top-right-radius:22px;
		border-bottom-right-radius:22px;
        background: #efefef;
        color: black;
        margin: 13px 0px 13px 25px;
		padding-top:10px;
	    padding-left:10px;
    }

    .chatbot-container .input {
      width: 85%;
      margin: 0px 0px 10px 15px;
      height: 50px;
      border: 1px solid rosybrown;
      border-radius: 3px;
    }
	
	.chatbot-close {
		width:100%;
		height:45px;
		background:#1a5a96;
		color:white;
		border-top-left-radius:22px;
	    border-top-right-radius:22px;
	}
	
	.chat-head {
		padding-top:12px;
		text-align:center;
	}
	
	.close-btn {
		float:right;
		background:transparent;
		border:0px;
		margin-right:5px;
	}
	
	.submit-btn {
	background:transparent;
    border: none; /* Remove borders */
    padding: 12px 16px; /* Some padding */
    font-size: 30px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
	}
	
	.human-msg-time {
	   float:right;
	   margin-right:32px;
	   margin-top:15px;
	   font-size:small;
	   color:gray;
   }
   
   .bot-msg-time {
	   float:left;
	   padding-top:5px;
	   margin-left:16px;
	   font-size:small;
	   color:gray;
   }
	
	#target{
		background:white;
		border-bottom-right-radius:22px;
		border-bottom-left-radius:22px;
		border: 0.1em solid #919191;
	}

	.fa {
	color: #1a5a96 !important;
	}
	
	.fa-comment {
	color: white !important;
	}
	
	
		/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent; 
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #f1f1f1; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #d6d6d6; 
	}
